.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

    &__result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__body {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px;
        background-color: var(--color-light);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    &__header {
        color: var(--color-blue);
        margin-bottom: 40px;
    }

    &__description {
        margin-bottom: 15px;
    }

    &__result {
        font-size: 24px;
        font-weight: 700;
    }

    &__questcount {
        margin-bottom: 40px;
        text-align: center;
        width: 100%;
        max-width: 400px;
    }

    &__btn {
        display: flex;
        gap: 10px;
        &--start, &--edit {
            @include hover {
                background-color: #007bff;
            }

            font-size: 1.5em;
            padding: 10px 30px;
            border: none;
            border-radius: 5px;
            background-color: var(--color-blue);
            color: var(--color-light);
            cursor: pointer;
        }
    }

    &__result {
        &--list {
            width: 100%;
        }
    }
}

.author-panel {
    display: none;
    gap: 10px;
}

#result_user {
    display: none;
}

.user-result {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: var(--color-gray);

    & button {
        @include hover {
            color: #007bff;
        }

        background: none;
        border: none;
        color: var(--color-blue);
        font-size: 1.5rem;
        cursor: pointer;
    }
}