.question {
    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    &__nav {
        top: 0;
        position: fixed;
        height: 60px;
        background-color: var(--color-light);
        width: 100%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 20px;
    }

    &__header {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    &__icon {
        @include hover {
            color: var(--color-blue);
        }

        font-size: 30px;
    }
}



.question-container {
    margin-top: 70px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

div > input[type="radio"],
div > input[type="checkbox"] {
    margin-right: 10px;
}

#submit-btn {
    @include hover {
        background-color: #007bff;
    }

    background-color: var(--color-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}