.section-creation {
  padding: 20px 48px;
  margin-bottom: 90px;

  background-color: var(--color-blue-lighter);
  border-radius: var(--border-radius-large);
}
.question-area {
  margin-bottom: 15px;
}
