<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Вхід</title>
</head>
<body>
  <div class="form-container">
    <div class="login">
      <header class="login-header">
        <h2 class="login-title">
          Увійти
          <a href="/" title="Головна" class="icon-title"><i class="fas fa-arrow-left"></i></a>
        </h2>
      </header>
      <form th:action="@{/authenticateUser}" method="POST">
        <div class="field username">
          <div class="input-area">
            <input type="text" id="username" name="username" required placeholder="Enter login">
            <i class="icon fas fa-user"></i>
            <i th:if="${param.error}" class="error-icon fas fa-exclamation-circle"></i>
          </div>
        </div>
        <div class="field password">
          <div class="input-area">
            <input type="password" id="password" name="password" required placeholder="Password">
            <i class="icon fas fa-lock"></i>
            <i th:if="${param.error}" class="error-icon fas fa-exclamation-circle"></i>
          </div>
          <div th:if="${param.error}" class="error-txt">Неправильний логін або пароль</div>
        </div>
        <div class="pass-txt">
          <input type="checkbox" name="remebmer-me">Запам'ятати мене
        </div>
        <button type="submit">Увійти</button>
      </form>
      <div class="sign-txt">Не маєте акаунта? <a href="/register.html">Зареєструватись</a></div>
    </div>
  </div>
</body>
</html>
