<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Увійти</title>
</head>

<body>
<main class="content">
    <section class="login">
        <div class="wrapper">
            <form
                    class="login-form"
                    th:action="@{/authenticateUser}"
                    method="POST"
            >
                <h1 class="">Увійти</h1>
                <div class="input-box">
                    <label for="username" class="visually-hidden">Username</label>
                    <input
                            id="username"
                            type="text"
                            placeholder="Логін"
                            required
                            name="username"
                    />
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <label for="password" class="visually-hidden">Password</label>
                    <input
                            id="password"
                            type="password"
                            placeholder="Пароль"
                            required
                            name="password"
                    />
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <div class="remember-forgot">
                    <label
                    ><input type="checkbox" name="remember-me" /> Запам'ятати
                        мене</label
                    >
                    <a href="#">Забули пороль?</a>
                </div>

                <button type="submit" class="btn">Увійти</button>

                <div class="register-link">
                    <p>
                        Немає облікового запису?
                        <a th:href="@{/}">Зареєструватись</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>
