.contact-section {
  margin: 30px 60px;
}
.text-support {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 10px;
  background-color: var(--color-blue-shadow-tint);
  padding: 16px 10px 16px 10px;
  border-radius: 12px;
  border: 1px solid var(--color-blue-shadow);
}
.sent-textarea {
  display: block;
  width: 100%;
  color: var(--color-blue-text);
  background-color: var(--color-light);
  border: 2px solid var(--color-blue-shadow);
  border-radius: var(--border-radius-small);
  height: 84px;
  padding: 13px 35px 10px 20px;
  resize: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}
.sent-textarea:hover,
.sent-textarea:focus,
.sent-textarea:active {
  border: 2px solid var(--color-blue-shadow);
  box-shadow: 0px 0px 0px 4px rgba(42, 57, 200, 0.05);
}
.sent-textarea:focus-visible {
  border-color: initial; /* Скидаємо колір обведення */
  box-shadow: none; /* Прибираємо ефект тіні */
  border: none;
}
.sent-text {
  height: 80%;
  cursor: pointer;
  background-color: var(--color-blue-shadow);
  color: var(--color-light);
  border: 1px solid var(--color-blue-shadow);
  border-radius: var(--border-radius-small);
  @include transition-out(0.4s);
  grid-column: 2;
  font-size: 22px;
}

.sent-text:hover,
.sent-text:active {
  box-shadow: 0px 0px 0px 4px rgba(42, 57, 200, 0.1);
  background-color: var(--color-blue-lighter) !important;
  color: var(--color-blue-text) !important;
}
.ul-grid-support {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  gap: 24px;
  color: var(--color-blue-text);
}
.technical-support-request {
  padding: 10px 20px 15px 30px;
  background-color: var(--color-light);

  border-top-right-radius: var(--border-radius-small);
  border-top-left-radius: var(--border-radius-small);
  border-bottom-left-radius: var(--border-radius-small);
  border: 1px solid var(--color-blue-shadow);
}
.technical-support-answer {
  padding: 5px 15px 10px 20px;
  margin-left: 40px;
  border: 1px solid var(--color-blue-shadow);
  border-top: none;
  background-color: var(--color-blue-shadow-tint);

  border-bottom-right-radius: var(--border-radius-small);

  border-bottom-left-radius: var(--border-radius-small);
}
.div-between-data {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
.text-support-theme {
  height: 50px;
  margin-bottom: 8px;
}
.technical-support-request-text-theme {
  @include fluid-text(24, 20);
  margin-bottom: 6px;
  border-bottom: 1px solid currentColor;
}
.text-with-tint {
  color: var(--color-blue-text-tint);
  margin-top: 4px;
}

#test-finish,
#my-test,
#kpi-support {
  display: none;
}
.technical-support-answer-unanswered {
  display: grid;
  grid-template-columns: 1fr 150px 50px;
  gap: 20px;
  align-items: center;
}
.text-support-unanswered {
  margin-right: 0px;
  height: 66px;
}
.delete-reply-to-the-workers {
  font-size: 30px;
  height: 50px;
  color: var(--color-blue-shadow);
  background-color: var(--color-blue-more-lighter);
}
.btn-colors {
  cursor: pointer;
  @include transition-out(0.4s);
  border: 1px solid var(--color-blue-shadow);
  border-radius: var(--border-radius-small-button);
}
.reply-to-the-workers {
  height: 100%;
  color: var(--color-light);
  background-color: var(--color-blue-shadow);
}
.btn-colors:hover,
.btn-colors:focus,
.btn-colors:active {
  box-shadow: 0px 0px 0px 4px rgba(42, 57, 200, 0.05);
}
.reply-to-the-workers:hover,
.reply-to-the-workers:focus,
.reply-to-the-workers:active {
  color: var(--color-blue-shadow);
  background-color: var(--color-blue-lighter);
}
.delete-reply-to-the-workers:hover,
.delete-reply-to-the-workers:focus,
.delete-reply-to-the-workers:active {
  color: var(--color-red);
  background-color: var(--color-light);
}
.h2-contact {
  @include fluid-text(30, 20);
  color: var(--color-blue-text);
}
.answered-requests {
  margin-top: 20px;
}
.ul-grid-support-unanswered,
.ul-grid-support-answered {
  margin-top: 8px;
}
.grid-technical-support-answer {
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 40px;
}
.btn-change-answer:hover,
.btn-change-answer:active {
  color: var(--color-violet-text);
  box-shadow: 0px 0px 0px 4px rgba(42, 57, 200, 0.05);
  background-color: var(--color-light);
}
